
@{
    ViewBag.Title = "Grupos";
}

<br />
<h1>Grupos</h1>

<div class=".col-12 .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6 text-center">
    <button class="btn btn-success" data-toggle="modal" data-target="#Ag_Grupo">Nuevo Grupo</button>
</div>

<br />

<div class=".col-12 .col-sm-12 .col-md-12 .col-lg-6 .col-xl-6">
    Buscar en el contenido de una tabla
    <form>
        <input id="searchTerm" type="text" onkeyup="doSearch()" />
    </form>
</div>

<br />

<div class="modal fade" id="Ag_Grupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Agregar Grupo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-sm-12">
                        <label>Materia</label>
                        <input type="text" class="form-control" id="Materia" />
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Profesor</label>
                        <input type="text" class="form-control" id="Maestro" />
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Turno</label>
                        <select class="form-control" id="Turno">
                            <option value="">Elige un turno</option>
                            <option value="M">Matutino</option>
                            <option value="V">Vespertino</option>
                            <option value="N">Nocturno</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="save" onclick="GuardarDatosGrupo();">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table" id="datos">
    <thead>
        <tr>
            <th>Id
            <th>
            <th>Materia</th>
            <th>Maestro</th>
            <th>Turno</th>
        </tr>
    </thead>
    <tbody class="" id="datos_Grupo"></tbody>
</table>

<p>Creado por: S-176</p>

@Scripts.Render("~/bundles/Grupos")

<script type="text/javascript">

</script>