<div class="jumbotron">
    <h1>Control Escolar</h1>
    <p class="lead">Sitio de Control Escolar de Demostración para el Semillero de EctoTec.</p>
    <p>Desarrollada y creada por: Antonio, Daniela, Emmanuel, Carlos, Hector, Daniel, Ricardo y Josué</p>
    
</div>
<div class="row">
    #NoLeMuevan #NoHomo #BusquenEnStackOverFlow #NoSubirErrores #GoogleIsMyFriend
</div>
