
@{
    ViewBag.Title = "Inscribir";
}

<h2>Inscribete</h2>

<p> Bienvenido Alumno, Favor de registra tus datos en los recuadros siguientes: </p>




<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Carrera
        </th>
        <th>
            Semestre
        </th>
    </tr>
</table>