<h2>Profesores</h2>

<form class="form-inline active-cyan-4">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Buscar"
           aria-label="Search">
    <i class="fas fa-search" aria-hidden="true"></i>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalProfesores">Agregar</button>
</form>



<div class="modal" id="modalProfesores" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Profesor</h5>
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>-->
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="formGroupNombre">Nombre</label>
                        <input type="text" class="form-control" id="P_Nombre">
                    </div>
                    <div class="form-group">
                        <label for="formGroupApellido">Apellido</label>
                        <input type="text" class="form-control" id="P_Apellido">
                    </div>
                    <div class="form-group">
                        <label for="Area_Mat">Area</label>
                        <select id="Area_Mat" class="form-control col-sm-11">
                            <option value="" disabled>Elige una Area</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button id="Ag_Add_Profesor" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Área</th>
        </tr>
    </thead>
    <tbody id="T_Prof_body_content"></tbody>
</table>
@Scripts.Render("~/bundles/Profesores")