
<h2>Alumnos</h2>

<style>
    #inputBuscar {
        background-image: url('https://www.w3schools.com/css/searchicon.png');
        background-position: 10px 5px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }
</style>

<!--AGREGAR-->
<div class="col-12">
    <form class="form-inline active-cyan-4">
        <div class="col-6 text-left">
            <div class="input-group">
                <input class="form-control form-control-sm mr-3 w-75" style="text-align: left;" type="text" placeholder="Busca por Matricula" aria-label="Search" id="inputBuscar" onkeyup="Buscar();">
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAlumnos">Agregar</button>
                </div>

                    <!--<i class="fas fa-search" aria-hidden="true"></i>
        <span class="input-group-btn glyphicon-object-align-top">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
        </span>-->
                </div>
            </div>
    </form>
</div>
<br>
<!--MODAL DATOS ALUMNO-->
<div class="modal" id="modalAlumnos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Agregar Alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Limpiar();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<p>Modal body text goes here.</p>-->
                <form id="inputAlumno">
                    <!-- <div class="form-group">
                        <label for="formGroupId">Id</label>
                        <input type="number" class="form-control" id="Id">
                    </div>-->
                    <div class="form-group">
                        <label for="formGroupNombre">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="formGroupApellidos">Apellidos</label>
                        <input type="text" class="form-control" id="Apellidos" name="Apellidos">
                    </div>
                    <div class="form-group">
                        <label for="formGroupCarrera">Carrera</label>
                        <select class="form-control" id="Carrera">
                            <option selected value="">Selecciona Una Carrera</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <label for="formGroupSemestre">Semestre</label>
                        <input type="number" class="form-control" id="Semestre" min="1" max="10">
                    </div>-->
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Limpiar();">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="GuardarDatoss();">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--MODAL AGREGADO CORRECTAMENTE-->
<div class="modal" id="modalAgregado" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--<div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>-->
            <div class="modal-body">
                <p>Se agrego al alumno correctamente!</p>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
    </div>
</div>
<!--TABLA CON DATOS-->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Carrera</th>
            <th scope="col">Semestre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="cuerpo_tabla"></tbody>
</table>
<br />
@Scripts.Render("~/bundles/Funciones")
